.row.main-form
  = simple_form_for [:admin, page], html: { class: "col s12" } do |f|
    .col.s12
      - unless page.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - page.errors.full_messages.each do |msg|
              %li= msg
    = f.input :title, length: "25", icon: "title", wrapper_html: { class: "m6 s12" }
    = f.input :name, length: "25", icon: "subtitles",
      hint: "Name can only have lowercase letters and underscores",
      wrapper_html: { class: "m6 s12" }
    = f.input :page_type, collection: %w(Page Tab), prompt: "Select Page Type",
      wrapper_html: { class: "s12" }
    = f.input :page_id, collection: Page.available_pages.map{ |p| [p.title, p.id] },
      prompt: "Select a Parent Page", wrapper_html: { class: "page_hiding hide s12" }
    = f.input :icon, icon: "fingerprint",
      wrapper_html: { class: "page_hiding hide s12" }
    = f.input :order, icon: "format_list_numbered",
      wrapper_html: { class: "s12" }
    = f.input :show_calendar, wrapper_html: { class: "m2 s12" }
    = f.input :show_contact, wrapper_html: { class: "m3 s12" }
    = f.input :show_testimonials, wrapper_html: { class: "m3 s12" }
    = f.input :hide_title, wrapper_html: { class: "m2 s12" }
    = f.input :active, wrapper_html: { class: "m2 s12" }
    = f.input :content, as: :ckeditor, label: false
    = f.button :submit, class: "right"
