- content_for :page_title do
  Exhibits

- content_for :page_button do
  = link_to new_admin_exhibit_path,
    class: "btn-floating btn-large halfway-fab waves-effect waves-light" do
    = material_icon.add

.page-wrapper
  .row
    .col.s12
      .card-panel
        .row
          .col.s12
            .right= page_entries_info @exhibits, entry_name: "Exhibit"
        %table.bordered.highlight.table.responsive-table
          %thead
            %th{ scope: "col", data: { field: "Title" } }
              = sort_link @q, :title
            %th{ scope: "col", data: { field: "Icon" } }
              = sort_link @q, :icon
            %th{ scope: "col", data: { field: "Page Name" } }
              = sort_link @q, :page_id
            %th{ scope: "col", data: { field: "Order" } }
              = sort_link @q, :order
            %th{ scope: "col", data: { field: "Active" } }
              = sort_link @q, :active
            %th{ scope: "col", colspan: "2" }
          %tbody
            - @exhibits.each do |exhibit|
              %tr.table__row{ role: "link", tabindex: "0",
                data: { url: admin_exhibit_path(exhibit) } }
                %td
                  .truncate= exhibit.title
                %td= exhibit.icon
                %td= exhibit.page_name
                %td= exhibit.order
                %td
                  - if exhibit.active?
                    = material_icon.check_box
                  - else
                    = material_icon.check_box_outline_blank
                %td
                  = link_to "Edit", edit_admin_exhibit_path(exhibit),
                    class: "action-edit"
                %td
                  = link_to "Delete", admin_exhibit_path(exhibit),
                    class: "action-destroy red-text", rel: "nofollow",
                    data: { method: :delete, confirm: "Are You Sure?" }
        .center.section
          = paginate @exhibits

= helper_fab(docs_exhibits_path)
