.row.main-form
  = simple_form_for [:admin, slider], html: { class: "col s12" } do |f|
    .col.s12
      - unless slider.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - slider.errors.full_messages.each do |msg|
              %li= msg
    = f.input :title, maxlength: "75", icon: "title",
      wrapper_html: { class: "s12" }
    = f.input :subtitle, maxlength: "125", icon: "subtitles",
      wrapper_html: { class: "s12" }
    = f.input :position, collection: %w(center-align right-align left-align),
      prompt: "Select a Position", wrapper_html: { class: "m6 s12" }
    = f.input :order, icon: "format_list_numbered",
      wrapper_html: { class: "m6 s12" }
    = f.input :photo, wrapper_html: { class: "m6 s12" }
    = f.input :active, wrapper_html: { class: "m6 s12" }
    = f.button :submit, class: "right"
