.row.main-form
  = simple_form_for [:admin, slider], html: { class: "col s12" } do |f|
    .col.s12
      - unless slider.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - slider.errors.full_messages.each do |msg|
              %li= msg
    = f.input :title, maxlength: "75", icon: "title"
    = f.input :subtitle, maxlength: "125", icon: "subtitles"
    = f.input :position, collection: %w(center-align right-align left-align),
      prompt: "Select a Position"
    = f.input :order, icon: "format_list_numbered"
    = f.input :photo
    = f.input :active
    = f.button :submit, class: "right"
