.row
  .col.s12
    %h3= @slider.title

.row
  .col.s12.offset-m1.m10
    .card-panel
      .row
        .col.s12
          %dl
            %dt Subtitle
            %dd= @slider.subtitle
            %dt Position
            %dd= @slider.position
            %dt Order
            %dd= @slider.order
            %dt Photo File Name
            %dd= @slider.photo_file_name
            %dt Photo File Size
            %dd= @slider.photo_file_size
            %dt Active
            %dd
              - if @slider.active
                = material_icon.check_box
              - else
                = material_icon.check_box_outline_blank

.fixed-action-btn.click-to-toggle
  %a.btn-floating.btn-large.waves-effect.waves-light
    = material_icon.menu
  %ul
    %li
      = link_to admin_slider_path(@slider),
        class: "btn-floating waves-effect waves-light red" do
        = material_icon.delete_forever
    %li
      = link_to edit_admin_slider_path(@slider),
        class: "btn-floating waves-effect waves-light green" do
        = material_icon.edit
