.row.main-form
  = simple_form_for [:admin, testimonial], html: { class: "col s12" } do |f|
    .col.s12
      - unless testimonial.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - testimonial.errors.full_messages.each do |msg|
              %li= msg
    = f.input :name, icon: "person", wrapper_html: { class: "s12" }
    = f.input :quote, icon: "format_quote", wrapper_html: { class: "s12" }
    = f.input :status, collection: %w(New Pending Approved Rejected),
      wrapper_html: { class: "s12" }, include_blank: false
    = f.button :submit, class: "right"
