- content_for :header do
  Resend Unlock Instructions

= form_for resource, as: resource_name, url: unlock_path(resource_name), builder: FormBuilder, html: { method: :post, class: 'login-form row' } do |f|
  - if devise_error_messages? || alert
    .errors.red
      %span= devise_error_messages!
      %span= alert
  = f.email_field :email, icon: 'email', outer_class: 'margin', autofocus: true
  = f.submit 'Resend Unlock Instructions', class: 'col s12'
