.row.main-form
  = simple_form_for [:admin, collapsible], html: { class: "col s12" } do |f|
    .col.s12
      - unless collapsible.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - collapsible.errors.full_messages.each do |msg|
              %li= msg
    = f.input :name, maxlength: "100", icon: "title"
    = f.input :collapse_style, collection: %w(accordion expandable),
      prompt: "Select a Collapse Style"
    = f.input :usage_type, collection: %w(Home-Page Page/Tab),
      prompt: "Select a Usage Type"
    = f.input :page_id, collection: Page.pages_tabs.map{ |p| [p.title, p.id] },
      prompt: "Select a Page", wrapper_html: { class: "coll_hiding hide" }
    = f.input :order, icon: "format_list_numbered"
    = f.input :is_popout
    = f.input :active
    .col.s12
      %ul.collapsible#collapsible{ data: { collapsible: "accordion" } }
        = f.simple_fields_for :collapsible_items do |ci|
          = render "collapsible_item_fields", f: ci
    .center
      = link_to_add_association "Add Item", f, :collapsible_items,
        class: "btn waves-effect waves-light",
        data: { "association-insertion-node": "ul#collapsible",
        "association-insertion-method": "append" }
    = f.button :submit, class: "right"
