.row
  .col.s12
    %h3= @collapsible.name

.row
  .col.s12.offset-m1.m10
    .card-panel
      .row
        .col.s12
          %dl
            %dt Collapse Style
            %dd= @collapsible.collapse_style
            %dt Usage Type
            %dd= @collapsible.usage_type
            %dt Is Popout
            %dd= @collapsible.is_popout
            %dt Active
            %dd
              - if @collapsible.active
                = material_icon.check_box
              - else
                = material_icon.check_box_outline_blank
            %dt Order
            %dd= @collapsible.order

.fixed-action-btn.click-to-toggle
  %a.btn-floating.btn-large.waves-effect.waves-light
    = material_icon.menu
  %ul
    %li
      = link_to admin_collapsible_path(@collapsible),
        class: 'btn-floating waves-effect waves-light red' do
        = material_icon.delete_forever
    %li
      = link_to edit_admin_collapsible_path(@collapsible),
        class: 'btn-floating waves-effect waves-light green' do
        = material_icon.edit
