= render "layouts/alert"
.slider
  %ul.slides
    - @sliders.each do |slider|
      %li
        = image_tag slider.photo.url
        - unless slider.title.blank?
          .caption{ class: slider.position }
            %h3{ class: slider.color + "-text" }= slider.title
            %h5.light{ class: slider.color + "-text" }= slider.subtitle
.row
  .col.s12.offset-m1.m10
    - @card_groups.each do |card_group|
      = render card_group.cards.is_active

.row
  .col.s12.offset-m1.m10
    = render @collapsibles
