.row
  .col.s12{ style: "padding:0;" }
    %ul.tabs.tabs-fixed-width
      - @page.pages.active.each do |tab|
        %li.tab
          %a{ href: "##{tab.name}" }= tab.title
  - @page.pages.active.each do |tab|
    .col.s12{ id: "#{tab.name}" }
      - if tab.markers.empty?
        .container
          %h4.center= tab.title
          .row
            - unless tab.content.blank?
              .col.s12
                .card-panel
                  = tab.content.html_safe
            - unless tab.collapsibles.empty?
              .col.s12
                = render tab.collapsibles.page_filtered
      - else
        = render "map", markers: tab.markers
