- content_for :tabs do
  .nav-content
    %span.nav-title= @page.title
    - if @page.show_testimonials?
      = link_to new_testimonial_path,
        class: "btn-floating btn-large halfway-fab waves-effect waves-light" do
        = material_icon.add
.main
  = render "layouts/alert"
  .container
    .row
      - if @page.show_calendar?
        = render "calendar"
      - elsif !@page.exhibits.is_active.empty?
        = render @page.exhibits.is_active
      - elsif @page.show_testimonials?
        = render @testimonials
      - elsif !@page.collections.is_active.empty?
        .col.s12
          %ul.collection.with-header
            = render @page.collections.is_active
      - else
        - unless @page.content.blank?
          .col.s12
            .card-panel
              = @page.content.html_safe
        - unless @page.collapsibles.is_active.empty?
          .col.s12
            = render @page.collapsibles.is_active
        - unless @page.card_groups.is_active.empty?
          - @page.card_groups.is_active.each do |card_group|
            = render card_group.cards.is_active
