%li.nested-fields
  .collapsible-header
    #{f.object.title.blank? ? 'New Card' : f.object.title}
  .collapsible-body.row{ style: "padding: 20px 0;" }
    .col.s12
      = link_to_remove_association "<i class='material-icons'>delete</i>".html_safe, f, data: { confirm: "Are You Sure?" }, class: "waves-effect waves-light red-text right"
    = f.input :title, icon: "title", wrapper_html: { class: "m6 s12" }
    = f.input :order, icon: "format_list_numbered", wrapper_html: { class: "m6 s12" }
    = f.input :btn_one_name, icon: "exit_to_app", wrapper_html: { class: "m6 s12" }
    = f.input :btn_one_url, icon: "link", wrapper_html: { class: "m6 s12" }
    = f.input :btn_two_name, icon: "exit_to_app", wrapper_html: { class: "m6 s12" }
    = f.input :btn_two_url, icon: "link", wrapper_html: { class: "m6 s12" }
    = f.input :size, collection: %w(small medium large),
      prompt: "Select a Size", wrapper_html: { class: "m6 s12" }
    = f.input :sticky_links, wrapper_html: { class: "m3 s12" }
    = f.input :active, wrapper_html: { class: "m3 s12" }
    = f.input :card_image, placeholder: "Upload an Image for the Card Image",
      wrapper_html: { class: "s12" }
    .row
      .col.s12.ckeditor-input
        = f.label :card_content
        = f.cktext_area :card_content
    .row
      .col.s12.ckeditor-input
        = f.label :card_reveal
        = f.cktext_area :card_reveal
