%li.nested-fields
  .collapsible-header
    #{f.object.title.blank? ? 'New Card' : f.object.title}
  .collapsible-body.row{ style: "padding: 20px 0;" }
    .col.s12
      = link_to_remove_association "<i class='material-icons'>delete</i>".html_safe, f, data: { confirm: "Are You Sure?" }, class: "waves-effect waves-light red-text right"
    .input-field.col.m6.s12
      %i.material-icons.prefix title
      = f.text_field :title
      = f.label :title
    .input-field.col.m6.s12
      %i.material-icons.prefix format_list_numbered
      = f.text_field :order
      = f.label :order
    .input-field.col.m6.s12
      %i.material-icons.prefix exit_to_app
      = f.text_field :btn_one_name
      = f.label :btn_one_name
    .input-field.col.m6.s12
      %i.material-icons.prefix link
      = f.text_field :btn_one_url
      = f.label :btn_one_url
    .input-field.col.m6.s12
      %i.material-icons.prefix exit_to_app
      = f.text_field :btn_two_name
      = f.label :btn_two_name
    .input-field.col.m6.s12
      %i.material-icons.prefix link
      = f.text_field :btn_two_url
      = f.label :btn_two_url
    .input-field.col.m4.s12
      = f.select :size, %w(small medium large), prompt: "Select a Size", include_blank: true
      = f.label :size
    .col.m8.s12
      .file-field.input-field
        .btn
          %span Card Image
          = f.file_field :card_image
        .file-path-wrapper
          %input.file-path{ type: :text,
            placeholder: "Select a Photo for Card Image" }
    .row
      .input-field.col.m3.s12
        = f.check_box :sticky_links
        = f.label :sticky_links
      .input-field.col.m4.s12
        = f.check_box :toggle_title
        = f.label :toggle_title
      .input-field.col.m3.s12
        = f.check_box :active
        = f.label :active
    .row
      .col.s12.ckeditor-input
        = f.label :card_content
        = f.cktext_area :card_content
    .row
      .col.s12.ckeditor-input
        = f.label :card_reveal
        = f.cktext_area :card_reveal
