.row.main-form
  = form_for [:admin, card_group], html: { class: "col s12" } do |f|
    .row
      .col.s12
        - unless card_group.errors.empty?
          .form-errors.red-lighten-1
            %ul
              - card_group.errors.full_messages.each do |msg|
                %li= msg
      .input-field.col.m6.s12
        = f.select :usage_type, ["Home Page", "Page/Tab"], required: true
        = f.label :usage_type, class: "isrequired"
      .input-field.col.m6.s12.hide.coll_hiding#pages_tabs
        = f.select :page_id, Page.pages_tabs.collect{ |p| [p.title, p.id] },
          prompt: "Select a Page/Tab"
        = f.label :page_id, class: "isrequired"
      .input-field.col.m6.s12
        = f.select :grid, ["s12 m12 l12", "s12 m6 l4", "s12 m6", "s12 m4"],
          prompt: "Select a Grid", required: true
        = f.label :grid, class: "isrequired"
      .input-field.col.m6.s12
        %i.material-icons.prefix format_list_numbered
        = f.number_field :order, required: true
        = f.label :order, class: "isrequired"
      .input-field.col.m6.s12
        = f.check_box :active
        = f.label :active
      .col.s12
        %ul.collapsible#collapsible{ data: { collapsible: "accordion" } }
          = f.fields_for :cards do |card|
            = render "card_fields", f: card
      .col.s12.center
        = link_to_add_association "Add Card", f, :cards,
          class: "btn waves-effect waves-light",
          data: { "association-insertion-node": "ul#collapsible",
          "association-insertion-method": "append" }
      .col.s12
        = f.submit nil, class: "btn waves-effect waves-light right"
