.row.main-form
  = simple_form_for [:admin, setting], html: { class: "col s12" } do |f|
    .col.s12
      - unless setting.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - setting.errors.full_messages.each do |msg|
              %li= msg
    = f.input :company_name, maxlength: "125", icon: "title"
    = f.input :address, icon: "room"
    = f.input :copyright, icon: "copyright"
    = f.input :email, icon: "email"
    = f.input :phone, icon: "phone"
    = f.input :facebook_handle, icon: "share"
    = f.input :twitter_handle, icon: "share"
    = f.input :pinterest_handle, icon: "share"
    = f.input :instagram_handle, icon: "share"
    = f.button :submit, class: "right"
