.row.main-form
  = simple_form_for [:admin, setting], html: { class: "col s12" } do |f|
    .col.s12
      - unless setting.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - setting.errors.full_messages.each do |msg|
              %li= msg
    = f.input :company_name, maxlength: "125", icon: "title",
      wrapper_html: { class: "s12" }
    = f.input :address, icon: "room", wrapper_html: { class: "s12" }
    = f.input :copyright, icon: "copyright", wrapper_html: { class: "s12" }
    = f.input :email, icon: "email", wrapper_html: { class: "m6 s12" }
    = f.input :phone, icon: "phone", wrapper_html: { class: "m6 s12" }
    = f.input :facebook_handle, icon: "share", wrapper_html: { class: "m6 s12" }
    = f.input :twitter_handle, icon: "share", wrapper_html: { class: "m6 s12" }
    = f.input :pinterest_handle, icon: "share",
      wrapper_html: { class: "m6 s12" }
    = f.input :instagram_handle, icon: "share",
      wrapper_html: { class: "m6 s12" }
    = f.input :donation_url, icon: "link", wrapper_html: { class: "s12" }
    = f.input :calendar_help_text, icon: "help", wrapper_html: { class: "s12" }
    = f.input :sign_in_registration_url, icon: "link", wrapper_html: { class: "s12" }
    = f.button :submit, class: "right"
