.row
  .col.s12
    %h3 Settings

.row
  .col.s12.offset-m1.m10
    .card-panel
      .row
        .col.s12
          %dl
            %dt Company Name
            %dd= @setting.company_name
            %dt Address
            %dd
              = link_to @setting.address, @setting.map_url
            %dt Copyright
            %dd= @setting.copyright.html_safe
            %dt Email
            %dd
              = link_to @setting.email, @setting.email_url
            %dt Phone
            %dd
              = link_to @setting.tel_format, @setting.tel_url
            %dt Facbook Handle
            %dd
              = link_to @setting.facebook_handle, @setting.facebook_url
            %dt Twitter Handle
            %dd
              = link_to @setting.twitter_handle, @setting.twitter_url
            %dt Pinterest Handle
            %dd
              = link_to @setting.pinterest_handle, @setting.pinterest_url
            %dt Instagram Handle
            %dd
              = link_to @setting.instagram_handle, @setting.instagram_url

.fixed-action-btn
  = link_to edit_admin_setting_path(@setting),
    class: "btn-large btn-floating waves-effect waves-light" do
    = material_icon.edit
