- content_for :page_title do
  Settings

- content_for :page_button do
  = link_to edit_admin_setting_path(@setting),
    class: "btn-large btn-floating waves-effect waves-light halfway-fab" do
    = material_icon.edit

.row
  .col.s12.offset-m1.m10
    .card-panel.main-view
      .row
        .col.s12.m6.grid
          %span.label Company Name:
          = @setting.company_name
        .col.s12.m6.grid
          %span.label Address:
          = link_to @setting.address, @setting.map_url
        .col.s12.m6.grid
          %span.label Copyright:
          = @setting.copyright.html_safe
        .col.s12.m6.grid
          %span.label Email:
          - unless @setting.email.blank?
            = link_to @setting.email, @setting.email_url
        .col.s12.m6.grid
          %span.label Phone:
          - unless @setting.phone.blank?
            = link_to @setting.tel_format, @setting.tel_url
        .col.s12.m6.grid
          %span.label Facebook Handle:
          - unless @setting.facebook_handle.blank?
            = link_to @setting.facebook_handle, @setting.facebook_url
        .col.s12.m6.grid
          %span.label Twiiter Handle:
          - unless @setting.twitter_handle.blank?
            = link_to @setting.twitter_handle, @setting.twitter_url
        .col.s12.m6.grid
          %span.label Pinterest Handle:
          - unless @setting.pinterest_handle.blank?
            = link_to @setting.pinterest_handle, @setting.pinterest_url
        .col.s12.m6.grid
          %span.label Instagram Handle:
          - unless @setting.instagram_handle.blank?
            = link_to @setting.instagram_handle, @setting.instagram_url
        .col.s12.m6.grid
          %span.label Donation URL:
          - unless @setting.donation_url.blank?
            = link_to @setting.donation_url, @setting.donation_url
        .col.s12.grid
          %span.label Calendar Help Text:
          = @setting.calendar_help_text

= helper_fab(docs_settings_path)
