.row.main-form
  = simple_form_for [:admin, alert], html: { class: "col s12" } do |f|
    .col.s12
      - unless alert.errors.empty?
        .form-errors.red.lighten-1
          %ul
            - alert.errors.full_messages.each do |msg|
              %li= msg
    = f.input :title, maxlength: "75", icon: "title"
    = f.input :name, maxlength: "25", icon: "subtitles",
      help_text: "Name can only have lowercase letters and underscores"
    = f.input :start_date, icon: "event_available", as: :string,
      input_html: { class: "datepicker",
                    value: date_picker(f.object.start_date) }
    = f.input :end_date, icon: "event_busy", as: :string,
      input_html: { class: "datepicker",
                    value: date_picker(f.object.end_date) }
    = f.input :active
    .row
      .col.s12.ckeditor-input
        = f.label :content
        = f.cktext_area :content
    = f.button :submit, class: "right"
