.row
  = form_for [:admin, alert], builder: FormBuilder,
                              html: { class: "col s12" } do |f|
    .row
      - alert.errors.full_messages.each do |msg|
        .col.s12
          .card.red
            .card-content.white-text
              %p= msg
    = f.text_field :title, length: "75", icon: "title"
    = f.text_field :name, length: "25", icon: "subtitles",
      help_text: "Name can only have lowercase letters and underscores"
    = f.date_field :start_date, class: "datepicker",
      value: date_picker(f.object.start_date), icon: "event_available"
    = f.date_field :end_date, class: "datepicker",
      value: date_picker(f.object.end_date), icon: "event_busy"
    = f.check_box :active
    .row
      .col.s12.ckeditor-input
        = f.label :content
        = f.cktext_area :content
    = f.submit nil, class: "right"
