.row
  .col.s12
    %h3= @alert.title

.row
  .col.s12.offset-m1.m10
    .card-panel
      .row
        .col.s12
          %dl
            %dt Name
            %dd= @alert.name
            %dt Start Date
            %dd= @alert.strd_start
            %dt End Date
            %dd= @alert.strd_end
            %dt Active
            %dd
              - if @alert.active
                = material_icon.check_box
              - else
                = material_icon.check_box_outline_blank
            %dt Content
            %dd= @alert.content.html_safe

.fixed-action-btn.click-to-toggle
  %a.btn-floating.btn-large.waves-effect.waves-light
    = material_icon.menu
  %ul
    %li
      = link_to admin_alert_path(@alert),
        class: "btn-floating waves-effect waves-light red" do
        = material_icon.delete_forever
    %li
      = link_to edit_admin_alert_path(@alert),
        class: "btn-floating waves-effect waves-light green" do
        = material_icon.edit
