- if notice
  :coffee
    Materialize.toast("#{notice}", 4000)
%header.navbar-fixed
  %nav
    .nav-wrapper
      %a.button-collapse{ href: "#", data: { activates: "slide-out" } }
        %i.material-icons menu
      = link_to @settings.company_name, admin_root_path,
        class: "brand-logo"
      %ul.side-nav.fixed#slide-out
        %li
          .userView.header
            .background.center
              = image_tag "cmowlogo.gif"
        %li
          .divider
        %li
          %a.subheader Items
        %li
          = link_to admin_setting_path(@settings),
            class: "waves-effect waves-orange" do
            = icon "gears", "Settings"
        %li
          = link_to admin_pages_path, class: "waves-effect waves-orange" do
            = icon "television", "Pages"
        %li
          = link_to admin_alerts_path, class: "waves-effect waves-orange" do
            = icon "bell-o", "Alerts"
        %li
          = link_to admin_sliders_path, class: "waves-effect waves-orange" do
            = icon "slideshare", "Sliders"
        %li
          = link_to admin_collapsibles_path,
            class: "waves-effect waves-orange" do
            = icon "compress", "Collapsibles"
        %li
          = link_to admin_markers_path, class: "waves-effect waves-orange" do
            = icon "map-marker", "Markers"
        %li
          = link_to admin_card_groups_path,
            class: "waves-effect waves-orange" do
            = icon "object-group", "Card Groups"
        %li
          = link_to admin_contact_emails_path,
            class: "waves-effect waves-orange" do
            = icon "envelope", "Contact Emails"
        %li
          = link_to admin_users_path, class: "waves-effect waves-orange" do
            = icon "users", "Users"
        %li
          .divider
        %li
          %a.subheader Activities
        %li
          = link_to root_path, class: "waves-effect waves-orange" do
            = icon "home", "Website Home"
        %li
          = link_to admin_root_path, class: "waves-effect waves-orange" do
            = icon "tachometer", "Dashboard"
        %li
          = link_to destroy_user_session_path, method: :delete,
            class: "waves-effect waves-orange" do
            = icon "sign-out", "Log Out"
%main
  = yield

%footer.page-footer.grey.darken-2.hide-on-print
  .footer-copyright
    = @settings.copyright.html_safe
    %span.right v1.0.0
