- if notice
  :coffee
    Materialize.toast("#{notice}", 4000)
%header.navbar-fixed
  %nav.nav-extended
    .nav-wrapper
      %a.button-collapse{ href: "#", data: { activates: "slide-out" } }
        %i.material-icons menu
      = link_to @settings.company_name, docs_root_path,
        class: "brand-logo"
      %ul.side-nav.fixed#slide-out
        %li
          .userView.header
            .background.center
              = image_tag "cmowlogo.gif"
        %li
          .divider
        %li
          %a.subheader How To Use Articles
        %li
          = link_to docs_alerts_path, class: "waves-effect waves-orange" do
            = icon "bell-o", "Alerts", class: "fa-lg"
        %li
          = link_to docs_sliders_path, class: "waves-effect waves-orange" do
            = icon "slideshare", "Sliders", class: "fa-lg"
        %li
          = link_to docs_pages_path, class: "waves-effect waves-orange" do
            = icon "television", "Pages", class: "fa-lg"
        %li
          = link_to docs_card_groups_path,
            class: "waves-effect waves-orange" do
            = icon "object-group", "Card Groups", class: "fa-lg"
        %li
          = link_to docs_collapsibles_path,
            class: "waves-effect waves-orange" do
            = icon "compress", "Collapsibles", class: "fa-lg"
        %li
          = link_to docs_collections_path,
            class: "waves-effect waves-orange" do
            = icon "list-ul", "Collections", class: "fa-lg"
        %li
          = link_to docs_contacts_path,
            class: "waves-effect waves-orange" do
            = icon "envelope", "Contact Emails", class: "fa-lg"
        %li
          = link_to docs_exhibits_path,
            class: "waves-effect waves-orange" do
            = icon "paint-brush", "Exhibits", class: "fa-lg"
        %li
          = link_to docs_markers_maps_path, class: "waves-effect waves-orange" do
            = icon "map-marker", "Markers", class: "fa-lg"
        %li
          = link_to docs_photo_albums_path,
            class: "waves-effect waves-orange" do
            = icon "camera", "Photo Albums", class: "fa-lg"
        %li
          = link_to docs_testimonials_path,
            class: "waves-effect waves-orange" do
            = icon "quote-left", "Testimonials", class: "fa-lg"
        %li
          = link_to docs_settings_path,
            class: "waves-effect waves-orange" do
            = icon "gears", "Settings", class: "fa-lg"
        %li
          = link_to docs_make_admin_path, class: "waves-effect waves-orange" do
            = icon "users", "Users", class: "fa-lg"
        %li
          .divider
        %li
          %a.subheader Activities
        %li
          = link_to root_path, class: "waves-effect waves-orange" do
            = icon "home", "Website Home", class: "fa-lg"
        %li
          = link_to admin_root_path, class: "waves-effect waves-orange" do
            = icon "tachometer", "Dashboard", class: "fa-lg"
        %li
          = link_to docs_root_path, class: "waves-effect waves-orange" do
            = icon "file-text", "Documentation", class: "fa-lg"
        %li
          = link_to destroy_user_session_path, method: :delete,
            class: "waves-effect waves-orange" do
            = icon "sign-out", "Log Out", class: "fa-lg"
    .nav-content
      %span.nav-title
        = yield :page_title
%main.docs
  = yield

%footer.page-footer.blue-grey
  .footer-copyright
    %div{ style: "width: 100%" }
      = @settings.copyright.html_safe
      %span.right v1.0.0
